.Button {
    background-color: #f5e6d3;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    white-space: no-wrap;
    border-radius: 5px ;
}
.Button.POSITIVE{
    background-color: #c9a87a;
    color: #fff;
}
.Button.NEGATIVE{
    color: #fff;
    background-color: #f4a88a;
}