.DiaryItem{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #f5e6d3;
}
.img-section{
    min-width: 120px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.img-section img{
    width: 50%;
    /* height: 60px;
    object-fit: contain; */
}
.img-section.bg-1{
background-color: #b8d4a0;
}
.img-section.bg-2{
background-color: #b8d4a0;
}
.img-section.bg-3{
background-color: #f5c97a;
}
.img-section.bg-4{
background-color: #f4a88a;
}
.img-section.bg-5{
background-color: #e89a9a;
}
.info-section{
    flex: 1;
    cursor: pointer;
}
.info-section .content{
    font-size: 18px;
}
.info-section .create-date{
    font-size: 25px;
    font-weight: bold;
}