.Editor section{
    margin-bottom: 40px;
}
.Editor section h4{
    font-size: 22px;
}

.Editor section input,
.Editor section textarea{
    background-color: #f5e6d3;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
}
.Editor section textarea{
    width: 100%;
    min-height: 200px;
}
.button-section{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.emotion-section{
    display: flex;
    grid-area: 5px;
    align-items: center;
}