.EmotionItem{
    padding: 20px;
    text-align: center;
    background-color: c9a87a;
    border-radius: 5px;
    cursor: pointer;

}
.EmotionItem img{
    width: 80%;
}
.EmotionItem.item_on_1{
    background-color: #b8d4a0;
}
.EmotionItem.item_on_2{
    background-color: #b8d4a0;
}
.EmotionItem.item_on_3{
    color: white;
    background-color: #f5c97a;
}
.EmotionItem.item_on_4{
    color: white;
    background-color: #f4a88a;
}
.EmotionItem.item_on_5{
    color: white;
    background-color: #e89a9a;
}