.Viewer>section {

    text-align: center;
    margin-bottom: 50px;
}

.Viewer>section h4 {
    font-size: 22px;
    padding: 10px 0;

}

.emotion-img-wrapper {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 25px;
    border-radius: 10px;

}

.emotion-img-wrapper.img-1 {
    background-color: #b8d4a0;
}

.emotion-img-wrapper.img-2 {
    background-color: #b8d4a0;
}

.emotion-img-wrapper.img-3 {
    background-color: #f5c97a;
}

.emotion-img-wrapper.img-4 {
    background-color: #f4a88a;
}

.emotion-img-wrapper.img-5 {
    background-color: #e89a9a;
}

.content-section {
    background-color: #fef8f3;
    border-radius: 10px;
    padding: 20px;
}

.content-section p{
    min-height: 100px;
    padding: 20px;
    font-size: 20px;
}