@font-face {
  font-family: "NanumPenScript";
  src: url("./assets/NanumPenScript-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NanumPenScript";
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  background-color: #fef8f3;
  height: 100%;
}

#root.dark{
  background-color: #000;
  box-shadow: none;
}

.Container {
  min-height: 100vh;

}

img {
  max-width: 100%;
}

.content-wrap {
  max-width: 600px;
  padding: 20px;
  margin: auto;
}

.Container.dark {
  background-color: rgb(29, 29, 29);
  box-shadow: rgba(202, 202, 202, 0.9) 0px 0px 29px 0px;
}

.Container.dark * {
  color: #fff;
}

.Container.dark button,
.Container.dark .DiaryList .menu-bar select,
.Container.dark select {
  background-color: #000;
}
.Container.dark .DiaryItem {
  border-bottom: 1px solid #333;
}
.Container.dark .content-section {
  background-color: #333;
}
.Container.dark .Editor section input {
  background-color: #333;
  color: #fff;
}
.Container.dark .Editor section textarea {
  background-color: #444;
  color: #fff;
}
.button-mode{
  background-color: #f5e6d3;
  width: 80px;
  height: 25px;
  border: none;
  border-radius:3px;
  font-size: 16px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.button-mode:hover{
  background-color: #d4a574;
  color: white;
  transform: scale(1.2);
  
}

body.dark .button-mode:hover {
  background-color: #fff;
  color: #000;
}
body.dark .button-mode{
  background-color: #000;
  border: 0.5px solid white;
}

body.dark{
  background-color: #000;
}
