@font-face {
    font-family: "NanumPenScript";
    src: url("./assets/NanumPenScript-Regular.ttf");
}
body * {
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: "NanumPenScript";
}
html, body {
    margin: 0;
    width: 100%;
}
#root {
    background-color: #fef8f3;
    max-width: 600px;
    margin: auto;
    min-height: 100vh;
    height: 100%;
    box-shadow: rgba(255, 200, 150, 0.3) 0px 0px 29px 0px;
    padding: 20px;
}
img{
    max-width: 100%;
}
